/*SAL: CSS attributes that are not covered in Bootstrap's variables*/
      body { 
               background-image: url('../images/background_green.jpg');
               padding-top: 50px;
            }

      /* SAL: Class for links on a dark or light backgrounds*/
      a.aondark  {
         color: #E19F7E;
      }      
      a.aondark:hover {
        background-color: #624232;        
      }      
      a.aonlight  {
         color: #624232;
      }
      a.aonlight:hover {
        background-color: #E19F7E;        
      }
      a.aonlight:hover, a.aondark:hover  {    
        border-radius:10px;         
        text-decoration: none;
        padding: 1%;
      }

      /*SAL: in case a row is needed in Non-Jumbotron class*/
      .row {
        border-radius:10px;  
        background-color: #000000;
      }

      /*SAL: custom styling to Jumbotron*/
      .jumbotron{
        border-radius:10px;  
        background-color: #000000;
        box-shadow: 0px 10px 20px #000000;
        border:2px solid #a1a1a1;
      }

      /*SAL: This creates the cirular pill shapes around the nav items*/
      .navli {
      	background-color: #000000;
        border:2px solid #a1a1a1;
        border-radius:10px;
        box-shadow: 0px 10px 20px #000000;
      }

/*SAL:  mailchimp contact form style*/

      #mc_embed_signup{
        background:#000;
        border-radius:10px; 
        clear:left;
      }
      #mc_embed_signup .asterisk {
        color: #624232;
      }

      #mc_embed_signup .button {
        background-color: #624232;
        color: #E19F7E;
      }

      #mc_embed_signup .button:hover {
        background-color: #E19F7E;
        color: #624232;
      }

/*SAL: styling of the accordion*/
.ui-accordion: {
  background-color: blue;
}

.ui-accordion-header {}

/*ui-accordion: The outer container of the accordion.
ui-accordion-header: The headers of the accordion. 
The headers will additionally have a ui-accordion-icons class if they contain icons.
ui-accordion-content: The content panels of the accordion.*/
