/*SAL: CSS attributes that are not covered in Bootstrap's variables*/
/*SAL: Needed to set the Bacground image*/
body { 
         background-image: url('../images/background_green.jpg');
         padding-top: 50px;
      }

/*SAL: row border and drop shadow*/
.row {
	background-color: #000000;
	border:2px solid #a1a1a1;
	border-radius:10px;
	box-shadow: 0px 10px 20px #000000;
}

/*SAL: adds dropshadow to Jumbotron*/
.jumbotron{
	box-shadow: 0px 10px 20px #000000;
}
/*SAL: This creates the cirular pill shapes around the nav items*/
.navli {
	background-color: #000000;
    border:2px solid #a1a1a1;
    border-radius:10px;
    box-shadow: 0px 10px 20px #000000;
}